.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
       background-color: #f39c12;
       border-color:#e67e22;
      }
    }
  }
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 


hr.vertical {
    height:100%; 
    width:0;
    border:1px solid black;
}

/* children of wrapper class are effected */
.wrapper_custom{
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 48.7%; /* 하나를 날려버리고 2개로 줄임. 나중에 시간나면 늘려야지*/
    margin: 5px 5px 5px 5px;
    position: relative;
    /*padding-bottom: 50%;*/
    display: inline-block;
    box-shadow: 1px 1px 1px #999999;
    
}

.listwrapper{
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 100%;
    margin: 5px 5px 5px 5px;
    position: relative;
    /*padding-bottom: 50%;*/
    display: inline-block;
    box-shadow: 1px 1px 1px #999999;
    
}

.first{
    overflow: visible;
    margin: 30px auto 10px 10px;

}

#table_custom{
    height: 300px;
    overflow-y: scroll;
}

table{
    width: 100%;
    text-align: center;
    /*border: 1px solid #ccc;*/
    font-size: 15px;
}


.stat_label{
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#chartdiv {
  width: 100%;
  height: 400px;
}



/* pie chart */
#chartdiv2 {
    width: 100%;
    height: 300px;
    font-size: 11px;
    vertical-align: top;
}

/* pie chart */
#chartdiv4 {
    width: 100%;
    height: 300px;
    font-size: 11px;
}

/* detail chart */
#chartdiv5 {
    width: 100%;
    height: 300px;
    font-size: 11px;
}

.amcharts-main-div{
    width: 100%;
    
}

.amcharts-chart-div{
    
}

.amcharts-pie-slice {
    
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
  display: inline-block;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}							

/* radar */
#chartdiv3 {
  width: 100%;
  height: 300px;
}



/* my plan*/
#chartdiv4 {
  width: 100%;
  height: 300px;
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}

#maps {
  width: 100%;
  height: 500px;
  /*border: 1px solid #eee;*/
  margin: 10px auto;
  position: relative;
}

.mapdiv {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.description{
	margin-top: 20px;
	width: 100%;
	position: relative;
	/*padding: 10px auto*/
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.description_title{
	margin: -85px 36px 85px;
}

.general_font{
	font: 300 34px Roboto,HelveticaNeue-Light,HelveticaNeue,sans-serif-light,Arial,sans-serif;
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 34px;
    line-height: normal;
    font-family: Roboto, HelveticaNeue-Light, HelveticaNeue, sans-serif-light, Arial, sans-serif;
}
.country_name_font{

	color:#ffffff;
}

.rcm_title_font{
	color:#5d5d5d;
}
.general_text{
	width: 100%;
	position: relative;
	padding: 20px 20px 20px 20px;
}

.rectangle{
	display:inline-block;
	width: 20px;
	height: 20px;
	overflow-x: hidden;
    overflow-y: hidden;
}

.inline_rec{
	display:inline-block;
}

.contents_rcm{
	/*background-color:#00cc00;*/
	/*width: 318px;*/
	padding: 3px;
	border-width: 1px;
	height:360px;
}

/* slick 버튼색깔*/
.slick-prev:before {
  color: #ffffff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
  border-width: 1px;
  border-radius: 50px;
  background-color: #A4A4A4;
}
.slick-next:before {
  color: #ffffff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
  border-width: 1px;
  border-radius: 50px;
  background-color: #A4A4A4;
}


.inner_card{
	height:350px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
	border-width: 1px;
 	border-radius: 3px;
}

.relavtive_rcm{
	width: 100%;
	padding: 5px;
	padding-top: 30px;
}

.content_rcm_title{
	margin: -50px 20px auto;
}


.info_about_country_contents{
	display: inline-block;
	background-color:#eeeeec;
	height: 300px;
	width: 19.2%;
	padding: 20px;
	vertical-align: middle;
}

.info_icon{
	text-align: center;
	height: 35%;
}

.info_description{
	text-align: center;
	height: 63%;
}

.just_padding_for_subtitle{
	
	padding-top: 30px;
}

.content_rcm_plan_thumbnail{
	width: 90px;
    height: 90px;
    display: inline-block;
    background-color: #ffffff;
    margin: -50px 110px auto;
    border-radius: 50px;
    padding: 2px;
}

#content_rcm_plan_thumbnail_image{
	width: 100%;
    height: 100%;
    border-radius: 50px;
}

.content_rcm_plan_writer{
	font-size: 1.3em;
    text-align: center;
}

.content_rcm_plan_name{
	font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 10px;
}

#content_rcm_plan_thumbnail_bgImage{
	width: 100%;
	height: 40%;
}

.content_rcm_plan_date{
    text-align: center;
}

.content_rcm_plan_planEndChk{
	text-align: center;
}

#profileImg{
	width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #ffffff;
    /*margin: -50px 110px auto;*/
    border-radius: 50px;
    padding: 2px;
}

.content_profile_thumbnail{
	width: 53px;
    height: 53px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50px;
 
}

.profile_thumbnail_container{
	display: inline-flex;
}

.thumbnail_member_name{
	margin-left: 1em;
}

.video_rcm_main{
	width: 100%;
	height: 500px;
}

.video_inner_card{
	width: 317px;
}

.video_rcm{
	padding: 3px;
}

#youtube_thumbnail{
	width: 317px;
	height:176px;
}


#div_ajax_load_image{
	width: 90%;
    height: 500px;
    z-index: 100;
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.5 );
}

#ajax_load_image{
    position: absolute;
    top: 30%;
    left: 40%;
}

#ajax_load_text{
    position: absolute;
	top: 50%;
    left: 30%;
}


/* myplan and */