
div.searchbox {
	disp	lay:inline-block;
}

.searchinnerbox {
    position: relative;
    z-index: 2;
    float: left;
    width: 100px%;
    margin-bottom: 0;
        cursor: text;
            letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.searchbtn {
	
}

.progress-custom {
	height:15px !important;
	overflow:hidden;
	margin:5px 0 2px 0;
}
.member-profile {
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius: 30px;
}


/* Style the tab */
.tab {
	margin: 20px 0;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 7px;
    border-collapse : collapse;
   	overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    color: black;
    padding: 12px 20px;
    width: 100%;
    background:#fff;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border:none;
    border-bottom: 1px solid #e0e0e0;
    border-collapse : collapse;
    position:relative;
}
.tab button:nth-child(4) {
	border-bottom: none;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #eee;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #fff;
    font-weight: bold;
    border-left: 5px solid #ce4844 ;
    color: #a94442;   
}
.tab button span.badge {
	background-color: #bdbdbd;
	position:absolute;
	top:13px;
	right:20px;
	
}
.tab button span.badge:hover {
	background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
    width: 100%;
    display: none;
}
.tabcontent.active {
	display: block;
}
