
div.searchbox {
	disp	lay:inline-block;
}

.searchinnerbox {
    position: relative;
    z-index: 2;
    float: left;
    width: 100px%;
    margin-bottom: 0;
        cursor: text;
            letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.searchbtn {
	
}

.progress-custom {
	height:15px !important;
	overflow:hidden;
	margin:5px 0 2px 0;
}
.member-profile {
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius: 30px;
/* 	position:absolute;
	top:-30px;
	z-index:9999; */
}

.list-group-item:hover {
	background-color: yellow;
}
.list-group-item.selected {
	background-color: red;
}



