.scrapListBox {
	width: 49%;
	padding: 5px;
	display:inline-block;
}


.scrapTumbnail{
	heigth:100px;
	padding:50px;
	float:left;
	background-size: cover; 
	background-position: center;

}
.scrapInfo{
	padding:10px;
}
.scrapInfo > a.scrapTitle{
	display:block;
	margin:10px 0;
	
}
p. > button.scrapBtn{
	color:#ddd!important;
	border:1px solid #ccc;
	margin:0 5px ;
	width:100%
}
p > button.scrapBtn:hover{
	color:#000!important;
	background:#ccc;
	border:1px solid #ddd;
	
}

.scrapListBox-detail {
	width: 100%;
	padding: 0 5px;
	display:inline-block;
}
.scrapBox-detail {
	background:#fff;
	box-shadow: 2px 2px 4px #ddd ;
	border:1px solid #ddd; 
	border-radius:5px;
	padding:  0 10px;
	margin:5px;
}
.scrapBox-detail > .scrapTumbnail{
	heigth:60px;
	padding:30px;
	float:left;
	background-size: cover; 
	background-position: center;	
}
.scrapBox-detail button.scrapBtn{
	color:#ddd;
	border:1px solid #ccc;
	border-radius:1px;
	margin:0 5px ;
	font-size:10px;
	padding:2px 3px;
	
}
.scrapBox-detail button.scrapBtn:hover{
	color:#000;
	background:#ccc;
	border:1px solid #ddd;
	width:40px;
	
}