<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.MemberMapper">
	
	<select id="login" resultType="MemberVO">
	select Member_Email memberEmail
		  ,Member_Password memberPassword
		  ,Member_Name memberName
	from tbl_Member
	where Member_Email = #{memberEmail}
	  and Member_Password = #{memberPassword}
	</select>
	
	<insert id="insertMember">
	insert into tbl_Member (Member_Email
						   ,Member_Password
						   ,Member_Name
						   ,Member_Birthday)
						   
	values				   (#{memberEmail}
						   ,#{memberPassword}
						   ,#{memberName}
						   ,#{memberBirthday})
	</insert>
	
</mapper>