<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.MemberMapper">
	
	<select id="login" resultType="MemberVO">
	select memberID
		  ,memberPassword
		  ,memberName
	from tbl_Member
	where memberID = #{Member_ID}
	  and memberPassword = #{Member_Password}
	</select>
	
</mapper>