<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.planMapper">
	
   <!-- plan 등록.  -->	
	<insert id="create">
		insert into tbl_Plan values(#{planID},#{memberID}, #{planTitle}, #{planStartDate}, #{planEndDate})
	</insert>
	
	<!-- plan 조회. -->
	<select id="read" resultType="PlanVO">
		select plan_ID planID, Member_ID memberID, plan_Title planTitle, plan_startDate planStartDate, plan_endDate planEndDate from tbl_plan where plan_ID = #{planID}
	</select>
	
	<!-- plan 수정. -->
	<update id="update">
		update tbl_plan set plan_Title = #{planTitle}, plan_StartDate = #{planStartDate}, plan_EndDate = #{planEndDate}
		where plan_ID = #{planID}
	</update>
	
	<!-- plan 삭제.  -->
 	<delete id="delete">
		delete from tbl_plan where plan_ID = #{planID}
	</delete>
	
	<!-- 마지막 planID 조회.  -->
	<select id="selectLastPlanID" resultType="_int">
		select max(plan_ID) from tbl_plan;
	</select>
	 
</mapper>