<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.contentsReviewMapper">
  
  <insert id="write">
  insert into
  	tbl_contents_review (Contents_ID, Member_ID, Contents_Review, Contents_Review_Time)
  values
  	(#{contentsID}, #{memberID}, #{contentsReview}, now())
  </insert>
  
  <update id="modify">
  update
  	tbl_contents_review
  set
  	Contents_Review = #{contentsReview}, Contents_Review_Time = now()
  where
  	Contents_Review_ID = #{contentsReviewID}
  </update>
 
  <delete id="delete">
  delete from
  	tbl_contents_review
  where
  	Contents_Review_ID = #{contentsReviewID}
  </delete>
  
  <select id="getReviewList" resultType="contentsReviewVO">
  select
  	Member_ID memberID, Contents_Review_ID contentsReviewID, Contents_Review contentsReview, Contents_Review_Time contentsReviewTime
  from
  	tbl_contents_review
  where
  	Contents_ID = #{contentsID}
  order by Contents_Review_ID desc	
  limit #{cri.startNum}, #{cri.contentsPerPage}
  </select>
  
  <select id="getTotalReviewNum" resultType="int">
  select 
  	count(Contents_ID)
  from
  	tbl_contents_review
  where
    Contents_ID = #{contentsID}
  </select>
  
  <select id="getContentsID" resultType="int">
  select
  	Contents_ID
  from
  	tbl_contents_review
  where
  	Contents_Review_ID = #{contentsReviewID}
  </select>
  
  </mapper>