<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.dashboardMapper">
  
  <!--  ## 유저ID, 일정갯수, 총여행일수, 평균여행일수  -->
  <select id="getPlanInfo" resultType="DashBriefVO">
	<![CDATA[
	select memberID, count(planTitle) as numOfPlans, sum(days) as totalDays, CAST(avg(days) AS signed integer) as avgDays, min(days) as minPlanDays, max(days) as maxPlanDays
	from
		(select tripster.tbl_Member.Member_ID as memberID,  
				tripster.tbl_Plan.Plan_Title as planTitle,
				TO_DAYS(Plan_EndDate)-to_days(Plan_StartDate) as days
		from tripster.tbl_Member join tripster.tbl_Plan
		on tripster.tbl_Member.Member_ID = tripster.tbl_Plan.Member_ID
		where tripster.tbl_Member.Member_ID = 1
	    group by tripster.tbl_Plan.Plan_ID
	    ) newTbl
	group by newTbl.memberID
		]]>
  </select>

  
  </mapper>