<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.dashboardMapper">
  
  <!--  ## 유저ID, 일정갯수, 총여행일수, 평균여행일수, 가장짧은여행일수, 가장긴여행일수  -->
  <select id="getPlanBriefInfo" resultType="DashBriefVO">
	<![CDATA[
	select memberID, count(planTitle) as numOfPlans, sum(days) as totalDays, CAST(avg(days) AS signed integer) as avgDays, min(days) as minPlanDays, max(days) as maxPlanDays
	from
		(select tripster.tbl_Member.Member_ID as memberID,  
				tripster.tbl_Plan.Plan_Title as planTitle,
				TO_DAYS(Plan_EndDate)-to_days(Plan_StartDate) as days
		from tripster.tbl_Member join tripster.tbl_Plan
		on tripster.tbl_Member.Member_ID = tripster.tbl_Plan.Member_ID
		where tripster.tbl_Member.Member_ID = #{memberID}
	    group by tripster.tbl_Plan.Plan_ID
	    ) newTbl
	group by newTbl.memberID
		]]>
  </select>
  <!--  ## 유저ID, 일정갯수, 총여행일수, 평균여행일수, 가장짧은여행일수, 가장긴여행일수  -->
  <!-- 
		/*일정 1의 ages, 성별비율을 뽑아보자*/
		/* 그룹으로 묶을 때 여러 개로 묶어도 되는구나.이상한 짓 할 뻔..*/
		/* 그룹으로 묶고는 select에 그룹으로 묶은 컬럼을 포함해야 한다.*/
		/* 그룹화 한 애들 분류한 곳에 관계없는 컬럼 추가하려면 걔도 그룹화하면 됨. 큰 깨달음...*/
   -->
  <select id="getPlanDetailInfo" resultType="DashDetailVO">
	<![CDATA[
	select plan_id, ages as numAges_who_chose_plan_id, count(ages) as num, sex
	from(
	
		#유저1의 "일정들", 각각의 일정에 대해 좋아요누른유저, sex, ages 작업해줌
		select tripster.tbl_Like.Plan_ID as plan_id,
				일정만든유저,
				tripster.tbl_Like.Member_ID as 일정_좋아요_누른_유저, 
				tripster.tbl_Member.Member_sex as sex,
				case #테이블의 원 컬럼을 그대로 쓰는게 아니면 case문 뒤에 뭘 붙이면 안 되는군. 지금은 수식을 쓰니까 변형된 컬럼을 추가하는거라 아무것도 안 써도 됨 
					when (TO_DAYS(curdate())-to_days(Member_Birthday))/365 >=14 and (TO_DAYS(curdate())-to_days(Member_Birthday))/365 <20  then '10s'
					when (TO_DAYS(curdate())-to_days(Member_Birthday))/365 >=20 and (TO_DAYS(curdate())-to_days(Member_Birthday))/365 <30  then '20s'
					when (TO_DAYS(curdate())-to_days(Member_Birthday))/365 >=30 and (TO_DAYS(curdate())-to_days(Member_Birthday))/365 <40  then '30s'
					when (TO_DAYS(curdate())-to_days(Member_Birthday))/365 >=40  then 'over 40s'
					else 'undefined'
					END as ages
			#첫번째 조인에선 like테이블의 일정좋아요 누른 유저의 정보를 얻어온다.
	    from tripster.tbl_Like join tripster.tbl_Member
			on tripster.tbl_Like.Member_ID = tripster.tbl_Member.Member_ID
	        #두번째 조인에선 Like테이블의 plan 번호를 기반으로 일정만든유저를 알기 위해 Member_Making_plan 테이블 만들어서 위의 것과 조인. 
	        #두번째 조인에선 플랜만든 유저의 번호만 추가된다.
			join(select Plan_ID, tripster.tbl_Plan.Member_ID as 일정만든유저
				 from tripster.tbl_Plan
				 where tripster.tbl_Plan.Member_ID = #{memberID}
				)Member_Making_plan
			on tripster.tbl_Like.Plan_ID = Member_Making_plan.Plan_ID
		where tripster.tbl_Like.Member_ID = tripster.tbl_Member.Member_ID
	 
		)newTbl3
	group by plan_id,ages, sex # 먼저 나온것 순서로 분류된다.
	]]>
  </select>

<!-- 일정별 좋아요 갯수 -->
  <select id="getPlanLikeInfo" resultType="DashLikeVO">
  	<![CDATA[
		#특정한 유저의 플랜만 뽑아서 그 플랜을 좋아요 누른 사람들의 수를 뽑아낸다.
		select UsersPlans.Plan_ID as plan_id, Plan_Title as plan_title, count(UsersPlans.Plan_ID) as num
		from tripster.tbl_Like join
			(select Plan_ID, Plan_Title
			from tripster.tbl_Plan
			where tripster.tbl_Plan.Member_ID = #{memberID})UsersPlans
		    on tripster.tbl_Like.Plan_ID = UsersPlans.Plan_ID 
		 group by UsersPlans.Plan_ID
 	]]>
  </select>

  
  </mapper>