<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.MemberMapper">
	
	
	<!-- 회원 로그인 -->
	<select id="login" resultType="MemberVO">
	select Member_ID memberID
		  ,Member_Email memberEmail
		  ,Member_Name memberName
		  ,Member_Picture memberPicture
		  ,Session_Key sessionKey
	from tbl_Member
	where Member_Email = #{memberEmail}
	  and Member_Password = #{memberPassword}
	  and Member_AuthKey = #{memberEmail}
	</select>
	
	<select id="getPassword" resultType="MemberVO">
	select Member_Password memberPassword
	from tbl_Member
	where member_Email = #{memberEmail}
	</select>
	
	<!-- 로그인 유지 -->
	<update id="keepLogin">
	update tbl_Member
	set Session_Key = #{sessionKey}
	   ,Session_Limit = #{next}
	where Member_ID = #{memberID}
	</update>
	
	<!-- 세션키 체크 -->
	<select id="checkSessionKey" resultType="MemberVO">
	select Member_ID memberID
		  ,Member_Email memberEmail
		  ,Member_Name memberName
		  ,Session_Key sessionKey
	from tbl_Member
	where Session_Key = #{value}
	  and Session_Limit > now()
	</select>
	
	<!-- 회원 등록 -->
	<insert id="insertMember">
	insert into tbl_Member (Member_Email
						   ,Member_Password
						   ,Member_Name
						   ,Member_Sex
						   ,Member_Birthday)
						   
	values				   (#{memberEmail}
						   ,#{memberPassword}
						   ,#{memberName}
						   ,#{memberSex}
						   ,#{memberBirthday})
	</insert>
	
	<!-- 회원 이메일 인증 키 -->
	<update id="authMember">
	update tbl_Member
	set Member_AuthKey = #{memberAuthKey}
	where Member_Email = #{memberEmail}
	</update>
	
	<!-- 가입시 이메일 중복확인 -->
	<select id = "repeatChk" resultType = "MemberVO">
	select Member_Email memberEmail 
	from tbl_Member
	where Member_Email = #{memberEmail}
	</select>
	
	<!-- 비밀번호 찾기 임시 비밀번호 생성 -->
	<update id="createTempPassword">
	update tbl_Member
	set Member_Password = #{memberPassword}
	where Member_Email = #{memberEmail}
	</update>
	
	<!-- 회원 마이페이지 조회 -->
	<select id="viewMember" resultType = "MemberVO">
	select Member_Email memberEmail
		  ,Member_Name memberName
		  ,Member_Sex memberSex
		  ,Member_Birthday memberBirthday
		  ,Member_Picture memberPicture
	from tbl_Member
	where Member_Email = #{memberEmail}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember">
	update tbl_Member
	set Member_Password = #{memberPassword}
	   ,Member_Name = #{memberName}
	   ,Member_Birthday = #{memberBirthday}
	   ,Member_Picture = #{memberPicture}
	where Member_Email = #{memberEmail}
	</update>
	
	<!-- 회원정보 삭제 -->
	<delete id="deleteMember">
	delete
	from tbl_Member
	where Member_ID = #{memberID}
	</delete>
	
</mapper>