<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.memoMapper">
	<insert id="insertMemo">
		insert into tbl_memo values(#{planDetailID}, #{memoContents})
	</insert>
	
	<update id="updateMemo">
		update tbl_memo set memo_contents = #{memoContents} where plan_detail_id =#{planDetailID}
	</update>
	
	<delete id="deleteMemo">
		delete from tbl_memo where plan_detail_id= #{planDetailID}
	</delete>
	
	<select id="selectOneMemo" resultType="string">
		select memo_contents memoContents from tbl_memo where plan_Detail_id= #{planDetailID}
	</select>

	<insert id="addAttach">
		insert into tbl_memo_picture(memo_picture_name, plan_detail_id) values(#{memoPictureName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select memo_picture_name memoPictureName from tbl_memo_picture where plan_detail_id = #{memoDetailID} order by memo_picture_ID 
	</select>
	
	<select id="deleteAttach">
		delete from tbl_memo_picture where plan_detail_id = #{planDetailID}
	</select>
</mapper>