<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.PlaceReviewMapper">
  
  <insert id="write">
  insert into
  	tbl_place_review (Place_ID, Member_ID, Place_Review, Place_Review_Time)
  values
  	(#{placeID}, #{memberID}, #{placeReview}, now())
  </insert>
  
  <update id="modify">
  update
  	tbl_place_review
  set
  	Place_Review = #{placeReview}, Place_Review_Time = now()
  where
  	Place_Review_ID = #{placeReviewID}
  </update>
 
  <delete id="delete">
  delete from
  	tbl_place_review
  where
  	Place_Review_ID = #{placeReviewID}
  </delete>
  
  <select id="getPlaceReviewList" resultType="placeReviewVO">

  select Member_ID memberID, Place_Review placeReview, Place_Review_Time placeReviewTime
  from
  	tbl_place_review
  where
  	Place_ID = #{placeID}
  limit #{cri.startNum}, #{cri.contentsPerPage}

  </select>
  
  <select id="getTotalPlaceReviewNum" resultType="int">
  select 
  	count(Place_Review_ID)
  from
  	tbl_place_review
  where
    Place_ID = #{placeID}
  </select>
  
  <select id="getPlaceID" resultType="int">
  select
  	Place_ID
  from
  	tbl_place_review
  where
  	Place_Review_ID = #{placeReviewID}
  </select>
  
  </mapper>