<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripster.mapper.planDetailMapper">

	<!-- 등록 -->
	<insert id="insert">
		insert into tbl_plan_detail
		values(#{planDetailID},#{planID},#{categoryID}, #{contentsID}, #{title},#{planDetailStartTime}, #{planDetailEndTime}, #{planDetailDate})
	</insert>

	<!-- 수정. -->
	<update id="update">
		update tbl_plan_detail set plan_Detail_StartTime
		=#{planDetailStartTime}, plan_detail_endTime =#{planDetailEndTime}
		where plan_detail_ID = #{planDetailID}
	</update>

	<!-- 삭제. -->
	<delete id="delete">
		delete from tbl_plan_detail where plan_detail_id =
		#{planDetailID}
	</delete>

	<!-- 일정 삭제 시, 해당 상세 일정 모두 삭제. -->
	<delete id="deleteAll">
		delete from tbl_plan_detail where plan_id = #{planID}
	</delete>


<resultMap type="PlanDetailVO" id="PlanDetailVO">
	<result column="plan_detail_id" property="planDetailID"/>
	<result column="plan_id" property="planID"/>
	<result column="contents_id" property="contentsID"/>
	<result column="title" property="title"/>
	<result column="plan_detail_startTime" property="planDetailStartTime"/>
	<result column="plan_detail_EndTime" property="planDetailEndTime"/>
	<result column="plan_detail_date" property="planDetailDate"/>
	<result column="category_id" property="categoryID"/>
	<result column="plan_detail_date" property="planDetailDate"/>
	<collection property="memoVO" resultMap="MemoVO"/>
</resultMap>

<resultMap type="MemoVO" id="MemoVO">
	<result column="plan_detail_id" property="planDetailID"/>
	<result column="memo_Contents" property="memoContents"/>
	<collection column="memo_picture_name" property="memoPictureName" javaType="java.util.ArrayList"/>
</resultMap>

<resultMap type="MemoPictureVO" id="MemoPictureVO">
	<result column="memo_picture_id" property="memoPictureID"/>
	<result column="plan_detail_id" property="planDetailID"/>
	<result column="memo_picture_name" property="memoPictureName"/>
	
</resultMap>

	<!-- 한 일정에 해당하는 세부일정 모두 조회. -->
	<select id="selectAll" resultMap="PlanDetailVO">
		select detail.plan_detail_id, detail.plan_id, detail.contents_id,
		detail.title, detail.plan_detail_startTime,detail.plan_detail_endTime, detail.plan_detail_date,
		detail.category_id,
		memo.memo_contents, picture.memo_picture_name
		from tbl_plan_detail detail left join tbl_memo memo on
		detail.plan_detail_id = memo.plan_detail_id left join tbl_memo_picture
		picture
		on memo.plan_detail_id = picture.plan_detail_id
		where detail.plan_ID = #{planID}
	</select>
	
	<!-- planDetailID값 조회. -->
	<select id="selectPlanDetailID" resultType="_int">
		select
		max(plan_detail_id) from tbl_plan_detail
	</select>
</mapper>
