<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.recommandMapper">
  
 
  <select id="getPlanList" resultType="RcmPlanVO">
	<!--  -->
	<![CDATA[
		
		# 1. 특정국가를 가는 일정 추리고 -> 2. 거기서 그 일정의 멤버 정보를 붙이고 
		
		#2. 거기서 각 일정의 멤버 정보를 붙이고
		select  planID, memberID, planTitle, planStartDate, planEndDate, planEndChk, Member_Name memberName, Member_Picture memberPic
		from
		(		#1. 특정국가를 가는 일정 추리고
				select Plan_ID planID, Member_ID memberID, Plan_Title planTitle, Plan_StartDate planStartDate, Plan_EndDate planEndDate, Plan_EndChk planEndChk 
				from tbl_Plan
				where tbl_Plan.Plan_ID in (
				SELECT Plan_ID
				FROM tbl_Contents a join tbl_Plan_Detail b
		        on a.Contents_ID = b.Contents_ID
				where a.Contents_Country = #{countryISO2} 
				group by Plan_ID) 
		)chosenPlan join tbl_Member
		on tbl_Member.Member_ID = chosenPlan.memberID

	]]>
  </select>
  
  </mapper>