<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.recommandMapper">
  
 
  <select id="getPlanList" resultType="PlanVO">
	<!--  -->
	<![CDATA[
		select Plan_ID planID, Member_ID memberID, Plan_Title planTitle, Plan_StartDate planStartDate, Plan_EndDate planEndDate, Plan_EndChk planEndChk 
		from tripster.tbl_Plan
		where tripster.tbl_Plan.Plan_ID in (
		SELECT Plan_ID
		FROM tripster.tbl_Contents a join tripster.tbl_Plan_Detail b
        on a.Contents_ID = b.Contents_ID
		where a.Contents_Country = #{countryISO2}
                                group by Plan_ID)
	]]>
  </select>
  
  </mapper>