<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tripster.mapper.RestaurantReviewMapper">
  
  <insert id="write">
  insert into
  	tbl_restaurant_review (Restaurant_ID, Member_ID, Restaurant_Review, Restaurant_Review_Time)
  values
  	(#{restaurantID}, #{memberID}, #{restaurantReview}, now())
  </insert>
  
  <update id="modify">
  update
  	tbl_restaurant_review
  set
  	Restaurant_Review = #{restaurantReview}, Restaurant_Review_Time = now()
  where
  	Restaurant_Review_ID = #{restaurantReviewID}
  </update>
 
  <delete id="delete">
  delete from
  	tbl_restaurant_review
  where
  	Restaurant_Review_ID = #{restaurantReviewID}
  </delete>
  
  <select id="getRestaurantReviewList" resultType="restaurantReviewVO">

  select Member_ID memberID, Restaurant_Review restaurantReview, Restaurant_Review_Time restaurantReviewTime
  from
  	tbl_restaurant_review
  where
  	Restaurant_ID = #{restaurantID}
  limit #{cri.startNum}, #{cri.contentsPerPage}

  </select>
  
  <select id="getTotalRestaurantReviewNum" resultType="int">
  select 
  	count(Restaurant_Review_ID)
  from
  	tbl_restaurant_review
  where
    Restaurant_ID = #{restaurantID}
  </select>
  
  <select id="getRestaurantID" resultType="int">
  select
  	Restaurant_ID
  from
  	tbl_restaurant_review
  where
  	Restaurant_Review_ID = #{restaurantReviewID}
  </select>
  
  </mapper>