/* Register PAGE CSS*/
.register-fullwidith{
    width:100%;
    height:100%;
    background:url('../../images/login-bg.jpg') #fff scroll center center no-repeat;
    position:relative;
}

.register-wrap{
    width:250px;
    height:310px;
    background:transparent;
    margin:auto auto;
    position:absolute;
}
.cpadding50{padding:20px;}
.chpadding50{padding:0 20px;}


@media (min-width:400px){

    .register-wrap{width:372px;height:780px;}
    .cpadding50{padding:50px;}
    .chpadding50{padding:0 50px;}
    img.register-img{margin-left:5px; margin-bottom:5px; width:147px!important;}

    .register-c1{	height:595px!important;	}
    .register-c2{height:631px!important;}
    .register-c3{ margin-top:681px!important; }
    .alignbottom{right:50px!important;}
    .alignbottom2{left:50px!important;}

}

img.register-img{margin-left:5px; margin-bottom:5px; width:110px;}

.register-c1{
    width:94%;
    height:147px;
    background:#ffffff;
    z-index:100;
    position:absolute;
    margin-left:3%;
    border:1px solid #dcdcdc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.register-c2{
    width:100%;
    height:171px;
    background:#f2f2f2;
    color:#666;
    z-index:50;
    margin-top:50px;
    position:absolute;
    border:1px solid #dcdcdc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1)
}
.register-c3{
    width:94%;
    height:54px;
    background:#006699 url(../../images/login-blue.png) repeat-y left;
    z-index:10;
    margin-top:221px;
    margin-left:3%;
    position:absolute;
}
.logmargfix{
    padding-left:3%;
    padding-right:3%;
}
input.logpadding{
    height:42px;
}
input.radiopadding{
    height:32px;
}

.alignbottom{
    position:absolute;
    bottom:25px;
    right:20px;
    margin-right:3%;
}

.alignbottom2{
    position:absolute;
    bottom:23px;
    left:20px;
    margin-left:3%;
}
.register-c3 .right{margin-right:20px; margin-top:15px;}
.register-c3 .left{margin-left:20px; margin-top:15px;}
.register-c3 .left span{
    width:26px;
    height:26px;
    background:url('../../images/login-home.png') scroll 0 0 no-repeat;
    display:block;
    float:left;
    margin-top:-3px;
    margin-right:5px;
}

.roundstep.active{
    width:23px;
    height:23px;
    background:#72bf66;
    color:#fff;
    border-radius:23px;
    padding:1px 0 0 6px;
    border:1px solid #72bf66;
}
.roundstep{
    width:23px;
    height:23px;
    background:#fff;
    color:#666;
    border-radius:23px;
    padding:1px 0 0 6px;
    border:1px solid #ccc;
}